.formDivContainer {
  display: flex;
  justify-content: center;
}

.formDiv {
  margin-top: 20px;
  width: 335px;
  border: 1px solid var(--black);
}

.formTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline;
  color: var(--dark-blue);
}

.inputMainContainer {
  display: inline-block;
  padding-bottom: 10px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.inputTag {
  margin-left: 18px;
  height: 20px;
  width: 180px;
}

.buttonAddUpdate {
  padding: 5px;
  margin-bottom: 10px;
  background-color: var(--light-blue);
  font-weight: 550;
  border: 1px solid var(--black);
  width: 91%;
}

.buttonAddUpdate:hover {
  font-weight: 750;
  background-color: var(--blue);
}
