.form_Div
{
    margin-top: 10px;
    margin: auto;
    margin-top: 20px;
    width: 335px;
    border: 1px solid;
}

.form_Title
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    color: #3b82f6;
}

.input_Main_Container
{
    display: inline-block;
    padding-bottom: 10px;
}

.input_Container
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.inputTag
{
    margin-left: 18px;
    height: 20px;
    width: 180px;
}

#span_Element{
    color:#3b82f6;
    font-weight: 600;
    font-size: large;
}

.span-id-age
{
    margin: auto;
}

.button-add-update
{
    padding: 5px;
    margin-bottom: 10px;
    background-color: var(--light-lessOpacity-blue);
    font-weight: 550;
    border: 1px solid;
    width: 91%;
}
.button-add-update:hover
{
    font-weight: 750;
    background-color: var( --light-moreOpacity-blue);
}
