.Heading_div {
    margin-top: 20px;
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
}

.Heading_div:hover {
    text-decoration: underline;
}

.Anchortag_heading {
    text-decoration: none;
}