.inputTag {
    margin-left: 18px;
    height: 20px;
    width: 180px;
}

#span_Element {
    color:#3b82f6;
    font-weight: 600;
    font-size: large;
}

.span-id-age {
    margin: auto;
}