.link
{
  text-decoration: none ;
  color:black;
}

.edit_Container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit_Span {
  color: rgb(45, 176, 45);
  font-weight: 500;
}

.edit_Span:hover {
  color: var(--dark-green);
  text-decoration: underline;
}

.delete_Div {
  color: red;
}

.delete_Div:hover {
  text-decoration: underline;
  cursor: pointer;
}

th,
td {
  padding: 5px;
  border: 1px gray solid;
}