.headingDiv {
    margin-top: 20px;
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
}

.headingDiv:hover {
    text-decoration: underline;
}

.anchorTagHeading {
    text-decoration: none;
}