.link
{
  text-decoration: none ;
  color:black;
}

.editContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editSpan {
  color: rgb(45, 176, 45);
  font-weight: 500;
}

.editSpan:hover {
  color: var(--dark-green);
  text-decoration: underline;
}

.deleteDiv {
  color: red;
}

.deleteDiv:hover {
  text-decoration: underline;
  cursor: pointer;
}

th,
td {
  padding: 5px;
  border: 1px gray solid;
}