:root
{
    --red: red;
    --dark-green: green;
    --light-lessOpacity-green: rgb(186, 253, 87,0.8);
    --light-moreOpacity-green: rgb(175, 245, 71);
}
.App {
  text-align: center;
  /* background-color: aqua; */
}

.heading_Div
{
    margin-top: 20px;
    /* font-size: larger; */
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
    /* background-color: aqua; */
}


.heading_Div:hover
{

    text-decoration: underline;
   
}

.anchortag_heading
{
 text-decoration: none;
}