:root
{
    --red: #8b5cf6;
    --dark-green: green;
    --light-lessOpacity-green:#8ff5ffed;

    --light-moreOpacity-green:#64cfff;
}
.App {
  text-align: center;
}

.heading_Div
{
    margin-top: 20px;
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
}


.heading_Div:hover
{

    text-decoration: underline;
   
}

.anchortag_heading
{
 text-decoration: none;
}