.Mainpg_div
{
    /* background-color: aquamarine; */
}


.Add-employee-button
{
    padding: 5px;
    background-color: var(--light-lessOpacity-green);
    font-weight: 550;
    /* font-size: medium; */
    border: 1px solid;
}
.Add-employee-button:hover
{
    font-weight: 750;
    background-color: var( --light-moreOpacity-green);
}
table
{
    border-collapse: collapse;
    /* border-spacing: 0px; */
    /* border: 1px gray solid; */
    width: 80%;
    margin: auto;
    margin-top: 20px;
}